<html>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Weather App</title>
      <link href="/styles.css" rel="stylesheet" type="text/css" />
      <!-- <script>
        if ("geolocation" in navigator) {
          console.log("geolocation available");
          navigator.geolocation.getCurrentPosition(async (position) => {
            console.log(position.coords.latitude);
            console.log(position.coords.longitude);

            const lat = position.coords.latitude;
            const lon = position.coords.longitude; // fine to here
            const data = { lat, lon }; // fine

            const options = {
              headers: {
                "Content-Type": "application/json",
              },
              method: "POST", // sends post request to the client
              redirect: "follow",
              body: JSON.stringify(data),
            };

            const response = await fetch("/index2", options);

            // window.location.href = response.url;

            // .then((response) => {
            //   console.log(response);
            // }); // this sends a post request to the server, containing the geolocation data contained in options variable
          });
        } else {
          console.log("geolocation not available");
        }
      </script> -->
    </head>
    <body class="index-body default">
      <% const date = new Date(); const year = date.getFullYear(); %>

      <h1 class="index-h1">WEATHER APP</h1>
      <p><i>Check the weather where you live or anywhere in the world.</i></p>

      <form action="/" method="post">
        <label for="cityInput">City Name:</label>
        <input id="cityInput" type="text" name="cityName" />
        <br /><br />
        <button type="submit">Check Weather</button>
        <p>
          For accurate results please enter your city name, followed by a comma,
          and your two letter country code. For example, "London, GB"
        </p>
        <p>If a country code is not used the site will use US as default.</p>
        <p>
          Click here for
          <a href="https://www.iban.com/country-codes" target="_blank"
            >a full list of IBAN country codes</a
          >
        </p>
        <br /><br />

        <p class="footnote">
          Built by Mike Tandy <%=year%> using Node.js, Express & EJS, powered by
          <a href="https://openweathermap.org/" target="_blank"
            >OpenWeatherMap</a
          >
        </p>
      </form>
      <a href="/index2">THE WEATHER NEAR YOU</a>
    </body>
  </html>
</html>

<!--
  1. get user coordinates, send them to the server.
  2. server sends the relevant data to index.ejs
  3. user's weather will display somewhere in the index.ejs file (so on the homepage), and they can manually search another city if they want.

  just need to send longitude and latitude to server then I can do it.
-->
