<html>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Results</title>
    </head>
    <body>
      <h1>WEATHER RESULTS</h1>
      <p>
        The temperature in <%= query %> is <%= Math.floor(temperature) %> °C.
      </p>
      <p>The current forecast is <%= weatherDescription %></p>
      <br /><br />
      <img src="<%=imageURL%>" />
      <button>Return Home</button>
    </body>
  </html>
</html>
