@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
  font-family: "Questrial";
  text-shadow: 0 0 3px #313639, 0 0 5px #313639;
  font-weight: bold;
  color: whitesmoke;
}

.index-body {
  font-size: 1.5rem;
}

.results-box {
  opacity: 0.8;
  font-size: 1.5rem;
}

#cityInput {
  background-color: #313639;
  color: #e3dac9;
  width: 10rem;
  height: 2rem;
  font-family: "Questrial";
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 25px;
  padding-left: 10px;
}

button {
  background-color: #313639;
  color: #e3dac9;
  width: 10rem;
  height: 2rem;
  font-family: "Questrial";
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 25px;
}

a {
  text-decoration: none;
  color: #e3dac9;
  width: 10rem;
  height: 2rem;
  font-family: "Questrial";
  font-weight: bold;
  font-size: 1.2rem;
}

.clear-sky-day {
  background-image: url("./Background-Images/clear-sky-day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.clear-sky-night {
  background-image: url("./Background-Images/clear-sky-night.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.few-clouds-day {
  background-image: url("./Background-Images/few-clouds-day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.few-clouds-night {
  background-image: url("./Background-Images/few-clouds-night.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.scattered-clouds-day {
  background-image: url("./Background-Images/scattered-clouds-day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.scattered-clouds-night {
  background-image: url("./Background-Images/scattered-clouds-night.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.broken-clouds-day {
  background-image: url("./Background-Images/broken-clouds-day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.broken-clouds-night {
  background-image: url("./Background-Images/broken-clouds-night.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.shower-rain-day {
  background-image: url("./Background-Images/shower-rain-day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.shower-rain-night {
  background-image: url("./Background-Images/shower-rain-night.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.rain-day {
  background-image: url("./Background-Images/rain-day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.rain-night {
  background-image: url("./Background-Images/rain-night.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.thunderstorm-day {
  background-image: url("./Background-Images/thunderstorm-day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.thunderstorm-night {
  background-image: url("./Background-Images/thunderstorm-night.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.snow-day {
  background-image: url("./Background-Images/snow-day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.snow-night {
  background-image: url("./Background-Images/snow-night.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.mist-day {
  background-image: url("./Background-Images/mist-day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mist-night {
  background-image: url("./Background-Images/mist-night.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.default {
  background-color: whitesmoke;
  background-image: url("./Background-Images/rain-day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

.city-not-found {
  background-color: whitesmoke;
  background-image: url("./Background-Images/city-not-found.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

/* ICON DROP SHADOWS */

.day-drop-shadow {
  /* filter: drop-shadow(0 10px 5px blue); */
  filter: drop-shadow(0 0 0.75rem black);
}

.night-drop-shadow {
  /*  filter: drop-shadow(0 10px 5px blue); */
  filter: drop-shadow(0 0 0.75rem white);
}

.footnote {
  font-size: 0.8rem;
}
